.main-bar {
  width: 100vw;
  height: var(--bar-height);

  display: flex;
  align-items: center;
  justify-content: space-between;
  /* box-shadow: var(--header-shadow); */
  background-color: var(--prim-dark);
}
