.main-bar {
  width: 100vw;
  height: 10vh;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: var(--header-shadow);
  background-color: var(--light-header-bg);
}
