.main-nav {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 5px solid var(--ter-color);
}

.links {
  height: calc(var(--bar-height) - 2rem);
  display: flex;
  justify-content: center;
  /* border-radius: 1rem 0.25rem 1rem 0.25rem; */
}

.nav-link {
  opacity: 0.5;
  color: var(--light-bg);
  padding: 0 2rem;
  cursor: pointer;

  font-size: 0.8rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-out;
}

.nav-link:hover {
  opacity: 1;
  color: var(--ter-color);
  /* box-shadow: var(--button-shadow); */
}
.nav-link:active {
  box-shadow: none;
  transform: scale(1);
}

.start-link {
  border-radius: 1rem 0 0 0.25rem;
}

.end-link {
  border-radius: 0 0.25rem 1rem 0;
}

.cv-icon {
  margin-left: 0.25rem;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.cv-link:hover > .cv-icon {
  color: var(--button-glow);
}
