.hero {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.hero-text {
  z-index: 2;
  /* background-color: var(--light-grey); */
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  /* box-shadow: var(--box-shadow); */
}

.hero-text__greeting {
  font-weight: 400;
  color: var(--prim-dark);
}

.hero-text__name {
  margin-left: 2rem;
  z-index: 5;
  color: var(--sec-color);
  font-size: 4rem;
  font-weight: 750;
  line-height: 1;
}
.hero-text__title {
  text-transform: uppercase;
  color: var(--prim-color);
  letter-spacing: 2px;
}

.dot-grid-container {
  position: absolute;
  left: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  padding: 1rem;
}
