.dot-grid {
  /* margin: 1rem; */
  width: 100%;
  height: calc((var(--content-height) - 2rem) / 2);

  background-color: transparent;
  background-image: radial-gradient(
    var(--prim-color) var(--dot-size),
    transparent 0
  );
  background-size: var(--dot-spacing) var(--dot-spacing);
  background-position: var(--dot-spacing) var(--dot-spacing);
}
